{% include 'base/layout.html.twig'%}
<!--first page -->

<body class="white" style="background:white!important;">
  <nav class="blue lighten-2">
    <div class="nav-wrapper">
      <div class="container">
        <a href="http://telecoute.re/" class="brand-logo">Groupe TLC</a>
      </div>
    </div>
  </nav>

  <div class="container" >
    <div class="row">
      <div class=" col s12 m12 l12 center ">
        <h1 style="padding-top:70px!important;">Bienvenue </h1>
      </div>
      <div class="col s12  m12 l12container center">
        <form class="col s6 offset-s3" method="post" action="/?c=index&t=login">
          <h5>Connectez-vous <br> à l'aide de vos IDs de connexion</h5>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">account_circle</i>
              <input  required class="center" id="icon_prefix" type="text" class="validate" name="username" id="username" autofocus>
              <label for="icon_prefix">ID Utilisateur</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">dialpad</i>
              <input required  class="center" id="icon_telephone" type="password" class="validate" name="password" id="password">
              <label for="icon_telephone">Mot de passe</label>
            </div>
            <div class="col s12 m12 l12 center">
              <input type="submit" class="waves-effect waves-light btn" value="Connexion">
              <p class="center">{{ error }}</p>
            </div>
          </div>
        </form>
      </div>



    </div>
  </div>

  <footer class="page-footer" style="background-color:#5dade2;">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12 center">
          <p class="">Notre groupe : </p>
          <p class="grey-text text-lighten-4 "><a href="http://www.bluetsr.re/" style="color:white!important;">Télécoute Réunion </a>-<a href="http://www.bluetsr.re/" style="color:white!important;">Blue TSR</a> </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        <p>© 2016 TMH WEB - Groupe TLC</a> </p>
      </div>
    </div>
  </footer>



  {% include 'base/bottom.html.twig'%}
