<html>
<head>
  <title>uFlow</title>
  <!-- Encodage Type -->
  <meta charset="utf-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="views/base/component/css/materialize.css">
  <!-- Compiled and minified JavaScript -->
  <!-- <script src="views/base/component/js/materialize.js"></script> -->
  <!-- Materialize Icons CDN -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- font awesome -->
  <link rel="stylesheet" href="views/base/component/fonts/font-awesome/css/font-awesome.min.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <!-- Main style -->
  <link rel="stylesheet" href="views/base/style/main.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, minimum-scale=0.5">

</head>

<body>
